.header {
  background-color: #ffe404;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen img {
  width: 20vw;;  
  height: 20vw;
}

.compracuotas{
display: flex;
flex-wrap: wrap;
}

.navigation{
  display: flex;
  justify-content: space-around;
  width: 45vw;
  flex-wrap: wrap;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 5px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.caja1,
.caja2,
.caja3,
.articulo1,
.articulo2,
.articulo3 {
  background-color: #f7fcff;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vw;
  grid-column: span 1;
}

.caja1,
.caja2,
.caja3{
  width: 32.5vw;
  height: 4vw;
}

.articulo1,
.articulo2,
.articulo3 {
  width: 32.5vw;
  height:31vw;
}

@media only screen and (max-width: 1000px) {
  .header {
    flex-direction: column; 
    text-align: center; 
    padding: 20px; }

  .navigation {
    width: 100%;
    margin-top: 20px; 
  }

  .main {
    grid-template-columns: 1fr;
  }

  .imagen img {
    max-height: 20vw;;  
    max-width: 20vw;
    height: auto;
    width: auto;
  }

  .caja1,
  .caja2,
  .caja3,
  .articulo1,
  .articulo2,
  .articulo3 {
    font-size: 4vw; 
  }

.caja1,
.caja2,
.caja3{
  width: auto;
  height: auto;
}

.articulo1,
  .articulo2,
  .articulo3 {
    width: auto;
    height: auto;
  }
}