<!DOCTYPE html>
<html>
<head>
  <title>Crear cuenta</title> 
  <meta charset="utf-8" />
  <link href="../public/css/styles.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="abcdefg">
  <header class="header">
    <a href="/">
      <img class="logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyQ61MW50p2OoTB0Jj6nBrOqBH409LxvlP51hk0whXceyXG_IYJ0hGW3vcndCXwMGpj_Y&usqp=CAU"/> 
      </a>
    <form class="searchbar">
      <input type="search" placeholder="Buscar..." class="search"/>
      <button type="submit" class="searchbutton"/> <i class="fa-solid fa-magnifying-glass"></i> </button>
    </form>

    <p class="compraCuotas">Compra en cuotas y sin tarjeta de crédito <i class="fa-regular fa-credit-card"></i> </p>

    <nav class="navigation">
      <p class="botin"><a href="">Ofertas</a></p>
      <p class="botin"><a href="">Tiendas Oficiales</a></p>
      <p class="botin"><a href="">Vender</a></p>
      <p class="botin"><a href="">Ayuda</a></p>
      <p class="botin"><a href="/login">Ingresar <i class="fa-solid fa-right-to-bracket"></i> </a></p>
      <p class="botin"><a href="/signup">Crea tu cuenta <i class="fa-solid fa-file-invoice"></i> </a></p>
      <p class="botin"><a href="">Mis Compras <i class="fa-solid fa-cart-shopping"></i> </a></p>
    </nav>

    <nav>
      <ul class="navbar" id="navbar">
        <li ><a class="servilleta" href="">Ofertas</a></li>
        <li ><a class="servilleta" href="">Tiendas Oficiales</a></li>
        <li ><a class="servilleta" href="">Ayuda</a></li>
        <li ><a class="servilleta" href="/login">Ingresar <i class="fa-solid fa-right-to-bracket"></i></a></li>
        <li ><a class="servilleta" href="/signup">Crea tu cuenta <i class="fa-solid fa-file-invoice"></i></a></li>
        <li ><a class="servilleta" href="">Mis Compras <i class="fa-solid fa-cart-shopping"></i></a></li>
        <a class="close" href="#">
          <img src="https://ljc-dev.github.io/testing0/ham-close.svg" alt="close">
        </a>
      </ul>
      <a class="hamburger" href="#navbar">
          <img src="https://ljc-dev.github.io/testing0/ham.svg" alt="menu">
      </a>
    </nav>

  </header>
  
  <div class="zelda">
    <p> Completa tus datos</p>
      </div>
  
   <main class="mario">
  <form class="kong" action="home.html">
    <div class="donkey">

      <div class="splatoon">
        <div class="octopath">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" placeholder="..." required>
        </div>
      </div>

      <div class="splatoon">
        <div class="octopath">
          <label for="apellido">Apellido</label>
          <input type="text" id="apellido" placeholder="..." required>
        </div>
      </div>

      <div class="splatoon">
        <div class="octopath">
          <label for="email">E-Mail</label>
          <input type="email" id="email" placeholder="..." required>
        </div>
      </div>

      <div class="splatoon">
        <div class="octopath">
          <label for="clave">Clave</label>
          <input type="password" id="clave" placeholder="..." required>
        </div>
      </div>

      <div class="splatoon">
        <div class="octopath">
          <input type="checkbox" id="tos" required>
          <label for="tos">Acepto los Términos y Condiciones</label>
        </div>
      </div>

      <div class="splatoon">
        <button type="submit" class="zora">
          Continuar
        </button>
      </div>

    </div>
  </form>
</main>

<footer class="footer">
  <div class="MLcash">
    <i class="fa-solid fa-credit-card" style="color: #166af2"></i>
    <div class="footer-bold">Paga con tarjeta o en efectivo</div>
    <div class="footer-text">Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</div>
  </div>

  <div class="MLenvio">
    <i class="fa-solid fa-gift" style="color: #166af2"></i>
    <div class="footer-bold">Envio Gratis desde $2500</div>
    <div class="footer-text">Solo por estar registrad@ en MercadoLiebre tenes envios gratis en miles de productos, es un beneficio de MercadoPuntos.</div>
  </div>

  <div class="MLsecure">
    <i class="fa-solid fa-shield-halved" style="color: #166af2"></i>
    <div class="footer-bold">Seguridad de principio a fin</div>
    <div class="footer-text">No te gusta? Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</div>
  </div>
  
</footer>
<p class="Copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.
</p>
</body>
</html>